<h4>Detalle Autor</h4>
<hr>
<div class="row text-right">
  <div class="col">
    <button 
  routerLink="/listarAutor"
  class="btn btn-danger">
    <i class="fa fa-arrow-left"> Regresar</i>
  </button>
  </div>  
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form>
      <div class="form-group">
        <label>Nombre:</label>
        <input disabled type="text" [(ngModel)]="autor.nombre" name="nombres" required class="form-control">
      </div>

      <div class="form-group">
        <label>Apellidos:</label>
        <input disabled type="text" [(ngModel)]="autor.apellidos" name="apellidos" required class="form-control">
      </div>

      <div class="form-group">
        <label>Fecha nacimiento:</label>
        <p>{{autor.fechaNacimiento|date}}</p>
      </div> 
    </form>
  </div>
</div>